/*整体布局*/
html {
    font-family: Helvetica, Arial, sans-serif;
    color: #ffe;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header {
    background-color: #4f4f55;
    height: 50vh;
}
header .title {
    font-size: 6vh;
    width: 92vw;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 7vh;
    margin: 39vh 3vw 4vh 3vw;
}
.content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 0;
}
footer {
    height: 50vh;
    font-size: 3vh;
    background-color: #4f4f55;
    line-height: 7vh;
    text-align: center;
}
/*内容布局*/
.content nav {
    display: block;
    background-color: #5f5f65;
    flex-direction: column;
    width: 200px;
    padding: 15px 0;
}
.content iframe {
    display: block;
    flex-grow: 1;
    border: none;
}
/*自定列表样式*/
div .list_title {
    font-size: 3vh;
    padding: 5px 15px;
}
ul {
    display: block;
    padding-left: 0;
    margin: 0;
}
li a {
    padding: 5px 30px;
    text-decoration: none;
    display: block;
    color: #ffe;
    font-size:2.4vh;
}
li:hover {
    background-color: #ffe;
}
li:hover a {
    color: #4f4f55;
}
li.selected {
    background-color: #7878dd;
}
li.selected a {
    color: #ffe;
}
iframe {
    background-color: #777785;
}