html {
    font-family: Helvetica, Arial, sans-serif;
    color: #ffe;
    height: 100%;
}
body {
    margin: 0;
    background-color: #777785;
    flex-direction: row;
    height:100%;
    min-width: 950px;
    overflow-x: scroll;
}
.svg_container {
    display: none;
}

text {
    dominant-baseline: middle;
    text-anchor: middle;
}

.yAxis text {
    text-anchor: end;
}

.data_container {
    display: flex;
    flex-direction: column;
    height:100%;
}
.filter_container {
    flex: 0 0 auto;
}

.info_container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #666673;
}
.info_container .label_container {
    flex: 0 0 auto;
}
.info_container .main_container {
    overflow-y: scroll;
    flex: 1 1 auto;
}
.info_line {
    border-bottom: solid #888888;
}
.info_cell {
    display: inline-block;
    padding: 0 10px;
    border-right: solid #888888;
    text-align: center;
    line-height: 30px;
}