.info_cell.col1 {
    width: 110px;
}
.info_cell.col2 {
    width: 60px;
}
.info_cell.col3 {
    width: 85px;
}
.info_cell.col4 {
    width: 100px;
}
.info_cell.col5 {
    width: 100px;
}
.svg_container {
    padding: 15px;
}
.svg_container svg {
    margin: 10px;
    padding: 5px;
}